<%- include('../includes/start.ejs') %> 
<%- include('../includes/headBody.ejs') %> 
<%- include('../layout/header.ejs') %>

    <div>
        <h2 align='center'>Register Here</h2>

        <form class="text-center border border-light p-5" action="#!">
    <!-- Email -->
    <input
      type="email"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      placeholder="E-mail"
    />

    <!-- Password -->
    <input
      type="password"
      id="defaultLoginFormPassword"
      class="form-control mb-4"
      placeholder="Password"
    />

    <div class="d-flex">
      <div>
        <!-- Remember me -->
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="defaultLoginFormRemember"
          />
          <!-- <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label> -->
        </div>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Login</button>

    <!-- Register -->
    <p>
      Not a member?
      <a href="">Sign Up</a>
    </p>
  </form>


        <form class="text-center border border-light p-5" action="#!">

            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
            <!-- confirm password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Confirm Password">


            <div class="d-flex">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <!-- <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label> -->
                    </div>
                </div>

            </div>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Continue</button>

            <!-- Register -->
            <p>Already a member?
                <a href="">Sign In</a>
            </p>

            <!-- Social login -->
            <p>or Register in with:</p>

            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="/terms and condition" target="_blank">terms of service</a>
            </p>
        </form>
    </div>





    <%- include('../includes/end.ejs') %>
        <%- include('../layout/footer.ejs') %>
</body>

</html>