<%- include("../partials/start") %>
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>

<div>
  <h2 class="text-center my-5">Log in</h2>
  <div id="firebaseui-auth-container"></div>
</div>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCQ2Zd5JZhjkQnpUrnq5FNWQnlN48awFdU",
    authDomain: "factory-dukaan.firebaseapp.com",
    databaseURL: "https://factory-dukaan.firebaseio.com",
    projectId: "factory-dukaan",
    storageBucket: "factory-dukaan.appspot.com",
    messagingSenderId: "901783648307",
    appId: "1:901783648307:web:41d71e94413adcbdb74b46",
    measurementId: "G-LH7XKNLQE5",
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  const uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: (authResult, redirectUrl) => {
        const xhr = new XMLHttpRequest();
        const url = "/login";
        xhr.open("POST", url);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(authResult));
        xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
            document.open();
            document.write(xhr.responseText);
            document.close();
          }
        }
        return false;
      },
    },
    signInOptions: [
      {
        provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
        recaptchaParameters: {
          type: "image", // 'audio'
          size: "invisible", // 'invisible' or 'compact'
          badge: "bottomright", // ' bottomright' or 'inline' applies to invisible.
        },
        defaultCountry: "IN",
      },
    ],
  };
  var ui = new firebaseui.auth.AuthUI(firebase.auth());
  ui.start("#firebaseui-auth-container", uiConfig);
</script>

<%- include("../partials/footer") %>
<%- include("../partials/end") %>