<%- include('../partials/start.ejs') %> 
<%- include('../partials/header.ejs') %> 
<%- include('../partials/headBody.ejs') %>

<%- include('../partials/header.ejs') %>
    <div class="wrapper">
        <%- include('../partials/sidenav.ejs') %>
        <div class="main_content">
            <h1 class="text-center">About Us</h1>
            <div class="container">
                <h2>Mission and Vision</h2>
                <p>Mission - It is an undeniable fact that Smarter business deals with greater access. We at Factory Dukaan aim to provide everyone with global partners and increase their brand multi-folds.</p>
                <p>Vision - We aim to be the Biggest B2B Online Service provider with a vision of connecting all the factories across the globe.</p>
                
                <h2>History</h2>
                <p>It is an Initiative BY YOUNG INDIANS PROMOTING MAKE IN INDIA Using Made In India Platform. Also, the main motive to build it was to fight against the economic setback caused due to Covid-19 and conflicts with China.</p>

                <h2>Team Member Profile</h2>
                <p>The innovative minds behind this initiative are some young hardworking and dedicated engineers from premium college's of the country with an exceptional history of working in entrepreneurial development.
                  <br> <b>Our Leadership:-</b> <br>
                   <b>Ayushi Grover</b>, a final year engineering student at a premier national college is the soul driving force behind this idea. With her exceptional thinking and hardworking attitude she managed to lay the foundation of FactoryDukaan. From looking after Financial Projections to Company's functioning, she is the pillar on which FactoryDukaan stands. <br>
                <b>Sparsh Narang</b>, an engineer from NSIT (University of Delhi) is the Tech lead for the company. His immense hard work, dedication and his entrepreneurial skills have been a major reason for building FactoryDukaan's business. Also, his exceptional thought process with technical knowledge and marketing skills make him a soul reason to be amongst the visionaries of the company.</p>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %> 
<%- include('../partials/end.ejs') %> 

