
<%- include("../partials/start") %>
<link type="text/css" rel="stylesheet" href="/css/faq.css" />
<%- include("../partials/headBody") %> 
<%- include("../partials/header") %>

<div class="wrapper">
    <%- include("../partials/sidenav") %>
    <div class="main_content">
      <div class="back-img"><i class="fas fa-headset fa-5x"></i></div>
        <!-- <div class="" id="accordion">
            <div class="faqHeader">FAQs</div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Some Random Question goes here?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="card-block">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo turpis, pretium in aliquet ac, molestie sed odio. Nullam sit amet tellus convallis, ornare tortor vitae, feugiat dui.
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Some Random Question goes here?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="card-block">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo turpis, pretium in aliquet ac, molestie sed odio. Nullam sit amet tellus convallis, ornare tortor vitae, feugiat dui.
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Some Random Question goes here?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="card-block">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo turpis, pretium in aliquet ac, molestie sed odio. Nullam sit amet tellus convallis, ornare tortor vitae, feugiat dui.
                    </div>
                </div>
            </div>
        </div> -->
        <div class="main-div">
          <div class="container">
              <h3 style="color: #231f1a;">Frequently Asked Questions</h3><hr>
              <div class="panel-group q-a" id="accordion">
                <% for(let i=0; i<=50; i++){ %>
                  <% if(FAQ.ques[i]){ %>
                    <% var str = "collapse" + i %>
                    <% var str1 = "#collapse" + i %>
                    <div class="panel panel-default q-a_stats">
                      <div class="panel-heading">
                        <h5 class="panel-title ques">
                          <a data-toggle="collapse" data-parent="#accordion" href= <%=str1%> ><%=FAQ.ques[i]%>?</a>
                        </h5>
                      </div>
                      <div id=<%=str%> class="panel-collapse collapse in ans">
                        <div class="panel-body"><%=FAQ.ans[i]%>.</div>
                      </div>
                    </div>
                  <% } %>
                <% } %>
<br><br><br>

              </div> 
            </div>
            <div class="query">
              <div class="query-head">
                <h3><span style="color: #ff922b;">Factory Dukaan</span> Query and Complaint</h3>
                <p>We will be glad to hear your query and complaints. You can raise your question here. We will surely respond.😊</p>
              </div>
              <div class="overall-quety">
                <form>
                  <fieldset class="form-group">
                      <h4 class="col-form-label">Please select type of query/complaint:</h4>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                          <label class="form-check-label" for="gridRadios1">
                            Buyer Issue
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                            Seller Issue
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                          <label class="form-check-label" for="gridRadios3">
                            Profile Updation
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                          <label class="form-check-label" for="gridRadios4">
                            Raise Qustion
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                          <label class="form-check-label" for="gridRadios5">
                            Technical issue
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option6">
                          <label class="form-check-label" for="gridRadios6">
                            Other
                          </label>
                        </div>
                        
                      </div>
                  </fieldset>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Title:</label>
                    <input class="form-control text-des" id="exampleFormControlInput1" placeholder="Provide a Short Title to your Complaint..." required>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripton:</label>
                    <textarea class="form-control text-des" id="exampleFormControlTextarea1" rows="3" placeholder="Type your Descripton here..." required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
        </div>

    </div>
</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/end.ejs') %> 