<%- include('../partials/start.ejs') %> 
<%- include('../partials/header.ejs') %> 
<%- include('../partials/headBody.ejs') %>

<%- include('../partials/header.ejs') %>
    <div class="wrapper">
        <%- include('../partials/sidenav.ejs') %>
        <div class="main_content">
            <h1 class="text-center">Contact</h1>
            <div class="container text-center">
                <h3>Grievance Office & Customer Care</h3>
                <a href="tel:+91-7340979844"><p style="font-size: larger;"><i class="fa fa-phone-alt" aria-hidden="true"> </i>+91 7340979844</p></a>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %> 
<%- include('../partials/end.ejs') %> 

