<%- include('../partials/start.ejs') %> 
<%- include('../partials/header.ejs') %> 
<%- include('../partials/headBody.ejs') %>

<%- include('../partials/header.ejs') %>
    <div class="wrapper">
        <%- include('../partials/sidenav.ejs') %>
        <div class="main_content">
            <h1 class="text-center">Contact</h1>
            <div class="container text-center">
                <h3>Grievance Office & Customer Care</h3>
                <a href="tel:+91-7340979844"><p style="font-size: larger;">+91 7340979844</p></a>

                <p style="font-size: larger;"><a href="mailto:customercare@factorydukaan.com">customercare@factorydukaan.com</a></p>
                <p style="font-size: larger;"><a href="mailto:grievances@factorydukaan.com">grievances@factorydukaan.com</a></p>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %> 
<%- include('../partials/end.ejs') %> 

