<%- include('../partials/start.ejs') %> 
<%- include('../partials/header.ejs') %> 
<%- include('../partials/headBody.ejs') %>

<%- include('../partials/header.ejs') %>
    <div class="wrapper">
        <%- include('../partials/sidenav.ejs') %>
        <div class="main_content">
            <h1 class="text-center">Contacts</h1>
        </div>
    </div>

<%- include('../partials/footer.ejs') %> 
<%- include('../partials/end.ejs') %> 

