<%- include("../partials/start") %>
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>
<div class="wrapper">
    <%- include("../partials/sidenav") %>
    <div class="main_content">
        <div class="header">
            <h2 class="text-center">Requirement by Username</h2>
        </div>
        
        <div class="container">
            <!-- <div class="card"> -->
                <div class="row">
                    <aside class="col-sm-4 border-right">
                        <article class="gallery-wrap"> 
                            <div class="img-big-wrap">
                                <div>
                                    <a href="#"><img src="/images/product1.jpg"></a>
                                </div>
                            </div>
                            <div class="img-small-wrap">
                                <div class="item-gallery"><img src="/images/slide1.jpg"></div>
                                <div class="item-gallery"><img src="/images/slide2.jpg"></div>
                                <div class="item-gallery"><img src="/images/slide3.jpg"></div>
                            </div>
                        </article>
                    </aside>

                    <aside class="col-sm-7">
                        <article class="card-body p-5">
                            <h3 class="title mb-3"><%= reqData.product_name %></h3>
                            <p class="price-detail-wrap"> 
                                <span class="price h3 text-warning"> 
                                    <span class="currency">₹</span><span class="price"> <%= reqData.price %></span>
                                </span> 
                            </p>
                            <dl class="item-property">
                                <dt>Description</dt>
                                <dd><p><%= reqData.desc %> </p></dd>
                            </dl>
                            <dl class="param param-feature">
                                <dt>Material Used</dt>
                                <dd><%= reqData.material_used%></dd>
                            </dl>
                            <dl class="param param-feature">
                                <dt>Quantity</dt>
                                <dd><%= reqData.quantity %></dd>
                            </dl>
                            <dl class="param param-feature">
                                <dt>Requirement created On</dt>
                                <dd>this date</dd>
                            </dl>
                            
                            <hr>
                                <dl class="param param-feature">
                                    <dt>Specifications</dt>
                                    <% var i =0; %>
                                    <% while(Object.keys(reqData.specifications)[i]){ %>
                                        <span style="color: #adb5bd;"><%= Object.keys(reqData.specifications)[i] %></span>: <span><%= Object.values(reqData.specifications)[i]%></span> <br>
                                    <% i++ %>
                                    <% } %>

                                </dl>
                            <hr>
                            <button onclick="makeYourBid()" class="btn btn-lg btn-primary text-uppercase">Make a Bid</button>
                            <a href="/requirement" class="btn btn-lg btn-outline-primary text-uppercase">Go Back</a>
                        </article>
                    </aside>
                </div>
            <!-- </div> -->
        </div>

        <hr>
        <div class="container text-center" id="bidSection">
            <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                <input type="number" name="bid" id="userBidInput" placeholder="Make your bid" class="p-1">
                <button type="submit" class="btn btn-sm btn-primary">
                    Submit Bid
                </button>
            </form>
        </div>

        <div class="container m-4">
            <h3 class="text-center">All Bids</h3>
            <div class="chat-body no-padding profile-message">
                <ul>
                    <li class="message">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="online" />
                        <span class="message-text">
                            <a href="javascript:void(0);" class="username">
                                M S Dhoni
                            </a>
                            <p>Bid Value: ₹1350</p>
                            <small class="text-muted pull-right ultra-light"> Posted 15/08/2020 </small>
                        </span>   
                    </li>
                    <hr>

                    <li class="message">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="online" />
                        <span class="message-text">
                            <a href="javascript:void(0);" class="username">
                                Virat Kohli
                            </a>
                            <p>Bid Value: ₹1380</p>
                            <small class="text-muted pull-right ultra-light"> Posted 15/08/2020 </small>
                        </span>   
                    </li>
                    <hr>

                    <li class="message">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="online" />
                        <span class="message-text">
                            <a href="javascript:void(0);" class="username">
                                Rohit Sharma
                            </a>
                            <p>Bid Value: ₹1340</p>
                            <small class="text-muted pull-right ultra-light"> Posted 15/08/2020 </small>
                        </span>   
                    </li>
                    <hr>                    
                    
                </ul>
            </div>
        </div>

    </div>
</div> 

<%- include('../partials/footer.ejs') %> 

<script>
    const makeYourBid = () => {
        document.getElementById("userBidInput").focus(); 
    }
</script>

<%- include('../partials/end.ejs') %>