<%- include("../partials/start") %> <%- include("../partials/headBody") %> <%-
include("../partials/header") %>
<body>
    <div class="content" style="text-align: center;">
        <%- include('../partials/plan.ejs') %>
    </div>
</body>
<%- include('../partials/footer.ejs') %> <%- include('../partials/end.ejs') %>
