<%- include("../partials/start") %>
<link type="text/css" rel="stylesheet" href="/css/products.css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<%- include("../partials/headBody") %>

<%- include("../partials/header") %>    
    <div class="wrapper">
        <%- include("../partials/sidenav") %>
        <div class="main_content">
            <%- include("../partials/search") %>
            <div class="full-product">
                <div class="super_container">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Products</a></li>
                            <li class="breadcrumb-item active">Accessories</li>
                        </ol>
                    </nav>
                    <div class="single_product">
                        <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
                            <div class="row">
                                <div class="col-lg-2 order-lg-1 order-2">
                                    <ul class="image_list">
                                        <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg" alt=""></li>
                                        <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg" alt=""></li>
                                        <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 order-lg-2 order-1">
                                    <div class="image_selected"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg" alt=""></div>
                                </div>
                                <div class="col-lg-6 order-3">
                                    <div class="product_description">                                        
                                        <div class="product_name">Acer Aspire 3 Celeron Dual Core - (2 GB/500 GB HDD/Windows 10 Home) A315-33 Laptop (15.6 inch, Black, 2.1 kg)</div>
                                        <div class="product-rating"><span class="badge badge-success"><i class="fa fa-star"></i> 4.5 Star</span> <span class="rating-review">35 Ratings & 45 Reviews</span></div>
                                        <div> <span class="product_price">₹ 29,000</span></div>
                                        <hr class="singleline">
                                        <div> <span class="product_info">Some key feature goes here....<span><br> <span class="product_info">Some key feature goes here...<span><br> <span class="product_info">Some key feature goes here..<span><br> <span class="product_info">Some key feature goes here.<span><br> </div>
                                        
                                        <hr class="singleline">
                                        
                                        <div class="price-quote">
                                            
                                        </div>  
    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row row-underline">
                                <div class="col-md-6"> <span class=" deal-text">Specifications</span> </div>
                                <div class="col-md-6"> <a href="#" data-abc="true"> <span class="ml-auto view-all"></span> </a> </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="col-md-12">
                                        <tbody>
                                            <tr class="row mt-10">
                                                <td class="col-md-4"><span class="p_specification">Sales Package :</span> </td>
                                                <td class="col-md-8">
                                                    <ul>
                                                        <li>2 in 1 Laptop, Power Adaptor, Active Stylus Pen, User Guide, Warranty Documents</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row mt-10">
                                                <td class="col-md-4"><span class="p_specification">Model Number :</span> </td>
                                                <td class="col-md-8">
                                                    <ul>
                                                        <li> 14-dh0107TU </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row mt-10">
                                                <td class="col-md-4"><span class="p_specification">Part Number :</span> </td>
                                                <td class="col-md-8">
                                                    <ul>
                                                        <li>7AL87PA</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row mt-10">
                                                <td class="col-md-4"><span class="p_specification">Color :</span> </td>
                                                <td class="col-md-8">
                                                    <ul>
                                                        <li>Black</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row mt-10">
                                                <td class="col-md-4"><span class="p_specification">Suitable for :</span> </td>
                                                <td class="col-md-8">
                                                    <ul>
                                                        <li>Processing & Multitasking</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="row mt-10">
                                                <td class="col-md-4"><span class="p_specification">Processor Brand :</span> </td>
                                                <td class="col-md-8">
                                                    <ul>
                                                        <li>Intel</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
<%- include("../partials/footer") %>
<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<%- include("../partials/end") %>