<%- include("../partials/start") %>
<link type="text/css" rel="stylesheet" href="/css/products.css" />
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>

   
    <div class="wrapper">
        <div class="loader">
        </div>
        <%- include("../partials/sidenav") %>
        <div class="main_content">
            <%- include("../partials/search") %>

            <% if (products.length > 0) { %>
            <h6 class="page-heading">Recommended</h6>
            <div class="dropleft mx-3 sort-dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                        href="?<%= queryParams.search && 'search=' + queryParams.search + '&' %>sortBy=createdOn&order=desc">Newest</a>
                    <a class="dropdown-item"
                        href="?<%= queryParams.search && 'search=' + queryParams.search + '&' %>sortBy=createdOn&order=asc">Oldest</a>
                    <a class="dropdown-item"
                        href="?<%= queryParams.search && 'search=' + queryParams.search + '&' %>sortBy=price&order=asc">Price
                        - (Low
                        to
                        High)</a>
                    <a class="dropdown-item"
                        href="?<%= queryParams.search && 'search=' + queryParams.search + '&' %>sortBy=price&order=desc">Price
                        -
                        (High
                        to
                        Low)</a>
                </div>
            </div>
            <div class="product-data">
                <div class="clearfix my-5"></div>
                <div class="item-lists">
                    <% for (let product of products) { %>
                    <div class="product-card">
                        <div class="product-image" style="padding:0">
                            <%if(product.images){%>
                                <img class="card-img-top" src="<%= product.images[0] %>" alt="">
                            <%}
                            else{%>
                                <img src={product.images[0]} alt="">
                            <%}%>
                        </div>
                        <div class="product-details">
                            <h4><a href="/product/<%= product.id %>"><%= product.title %></a></h4>
                            
                            <p><%= product.desc %></p>
                            <div class="product-bottom-details">
                                <div class="product-price"><%= '₹ ' + product.price %>/piece</div>
                                <div class="product-links">
                                    <% if (product.inWishList) {%>
                                        <a href="#!" id="<%= product.id %>-wishlist" class="addToWishList"><i class="fa fa-heart" id="<%= product.id %>-heart" style="color:red "></i></a>
                                    <%}else{%>
                                        <a href="#!" id="<%= product.id %>-wishlist" class="addToWishList"><i class="fa fa-heart" id="<%= product.id %>-heart"></i></a>
                                    <%} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <nav class="my-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= !links.prev && 'disabled' %>">
                        <a class="page-link" href="<%= queryString + 'before=' + links.prev %>">
                            <span class="fa fa-arrow-left"></span>
                        </a>
                    </li>
                    <li class="page-item <%= !links.next && 'disabled' %>">
                        <a class="page-link" href="<%= queryString + 'after=' + links.next %>">
                            <span class="fa fa-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <% } else  { %>
                <h2 class="text-center">No Products found!</h2>
            <% } %>
        </div>
    </div>

    <script>
        var buttons = document.getElementsByClassName("addToWishList");
        var buttonsCount = buttons.length;
        for (var i = 0; i <= buttonsCount; i += 1) {
            buttons[i].onclick = async function(e) {
                if(document.getElementById(`${this.id.split('-')[0]}-heart`).style.color==="red"){
                    const loader = document.querySelector('.loader');
                    loader.className = 'loader'; // class "loader"
                    const res= await axios({
                        url:"/removeFromWishList",
                        method:"POST",
                        data:{
                            productId:this.id.split('-')[0]
                        }
                    })
                    loader.className = 'loader hidden'; // class "loader hidden"
                    document.getElementById(`${this.id.split('-')[0]}-heart`).style.removeProperty('color');
                }else{
                    const loader = document.querySelector('.loader');
                    loader.className = 'loader'; // class "loader"
                    const res= await axios({
                        url:"/addToWishList",
                        method:"POST",
                        data:{
                            productId:this.id.split('-')[0]
                        }
                    })
                    loader.className = 'loader hidden'; // class "loader hidden"
                    document.getElementById(`${this.id.split('-')[0]}-heart`).style.color="red";
                }
                
            };
        }
    </script>



    <%- include("../partials/footer") %>
    <%- include("../partials/end") %>