<%- include('../partials/admin/start.ejs') %>
<link type="text/css" rel="stylesheet" href="/css/admin-prod-det.css" />
<%- include('../partials/headBody.ejs') %>
<%- include('../partials/admin/header.ejs') %>
<div id="main-body">
    <div class="panel-header">
        <h2 style="color: #14213d;">Admin Panel</h2>
    </div>

    <div class="panel-header edit">
        <h3 style="color: #fc814a;">Edit Product</h3>
    </div>
    <div style="text-align: center;">
        <p><%= prodDetails.createdOn.toDate().toJSON().slice(0,10).replace(/-/g,'/') %></p>
        <p id="prod-uid"><%= productId %></p>
    </div>

    <div>
        <div>
            <div class="container">
                <h5>Product Name</h5>
                <input type="text" class="form-control" name="product-name" id="prod_name"
                    value="<%= prodDetails.title %>">
                <p style="font-size: small;">* Please don't add any description in the product name</p><br>
                <div class="row-control">
                    <h5>Specifications</h5>
                    <button type="button" class="btnAddSpecs" data-toggle="modal" data-target="#ModalEditSpecification" >Edit Specs</button>
                </div>

                <div class="table-container" style="overflow-x:auto;">
                    <table class="specs-table" id="pc-view">
                        <thead>
                            <tr>
                                <%Object.keys(prodDetails.specs).forEach((it)=>{%>
                                <th scope="col"><%=it%></th>
                                <%})%>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <%Object.values(prodDetails.specs).forEach((it)=>{%>
                                <td scope="col"><%=it%></td>
                                <%})%>
                            </tr>
                        </tbody>
                    </table>
                    <table class="specs-table" id="mobile-view" style="width: 80%; margin: auto;">
                        <tbody>
                            <%Object.entries(prodDetails.specs).forEach((it)=>{%>
                            <tr>
                                <th scope="col"><%=it[0]%></th>
                                <td data-label="Size"><%=it[1]%></td>
                            </tr>
                            <%})%>

                        </tbody>
                    </table>
                </div>

                <h5>Description</h5>
                <textarea class="form-control" id="desc" rows="4"><%= prodDetails.desc %></textarea>
            </div>
        </div><br>

        <div class="p-2 bd-highlight">
            <div class="container">
                <h5>Product Image</h5>
                <form>
                    <div class="form-group" id="custom_file" style="margin-bottom: 0;">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="addProductImages"
                                accept=".jpg,.png" multiple data-show-upload="true" data-show-caption="true">
                            <label class="custom-file-label" for="customFile"><i class="fas fa-upload"></i>Upload</label>
                            <div style="display: flex;"><progress style="display: none; margin: 3px;" value="0"
                                    max="100" id="uploader">0%</progress>
                                <p id="prog_shot"></p>
                            </div>
                            <!-- <input type="button" onclick="uploadImage()"> -->
                        </div>
                    </div>
                    <input type="text" id="img_url" style="display: none;" value="" name="img_url">
                    <div id="img_name" style="border: 1px solid #04599F;border-radius: 4px;"></div><br>
                </form>
                <p id="imgArrayX" style="display: none;"><%= prodDetails.images %></p>
                <div class="product-image-display">
                    <div class="card-deck1" id="img_card">
                        <%for(var i=0; i< prodDetails.images.length; i++){%>
                        <div id="imgNo<%=i%>" class="card" style="position: relative;">
                            <span onclick="imgDel('<%=i%>')" class="close">&times;</span>
                            <img class="card-img-top" src="<%= prodDetails.images[i] %>" alt="Card image cap">
                        </div>
                        <!-- <th scope="col"></th> -->
                        <%}%>

                    </div>
                </div><br>

                <div class="tags-section">
                    <h5>Tags</h5>
                    <input type="text" class="form-control" id="prod_tags" name="product-name" placeholder="Enter a tag"
                        value="<%= prodDetails.keywords %>">
                    <p style="font-size: small;">* Tags must be seperated by comma{,}</p>
                </div>
            </div>
        </div>
        <div class="submit_det">
            <button type="button" onclick="submitHandler()" class="btnSaveProduct"
                style="margin-left: auto; margin-right: auto;">Save Product</button>
        </div>
    </div>
</div><br>


<!-- Modal - Edit Specifications -->
<div id="ModalEditSpecification" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Specifications</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form action="/addreq" method="POST">
                    <input type="text" id="specStore" value='' name="specs" style="display:none">
                    <p id="specs_len" style="display:none"><%=Object.entries(prodDetails.specs).length%></p>

                    <div class="form-group" id="specs-form">
                        <%for(var i=0; i< Object.entries(prodDetails.specs).length; i++){%>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Specs</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control border border-primary" value="<%=Object.keys(prodDetails.specs)[i]%>"
                                placeholder="Title" id="specsTitle<%=i%>" required>
                            <input type="text" aria-label="Last name" class="form-control border border-primary" value="<%=Object.values(prodDetails.specs)[i]%>"
                                placeholder="Description" style="border-radius: 0;" id="specsDesc<%=i%>" required>
                            <button style="border-radius: 0 6px 6px 0;" class="btn btn-sm btn-danger" onclick="deleteSpecs('specsTitle<%=i%>')" type="button">
                                <span class="fa fa-trash fill"></span>
                            </button>
                        </div>
                        <%}%>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="specsHandler()">Add more specs</button><br><br>

                    <div class="form-group">
                        <div>
                            <button type="button" onclick="submitx()" data-dismiss="modal" class="btn btn-success">Save</button>
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-storage.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBnmgKRfL7t71V9bdj45eADRmSz_VvYMAk",
        authDomain: "factorydukaan-3107.firebaseapp.com",
        databaseURL: "https://factorydukaan-3107.firebaseio.com",
        projectId: "factorydukaan-3107",
        storageBucket: "factorydukaan-3107.appspot.com",
        messagingSenderId: "405186974524",
        appId: "1:405186974524:web:5b453c80c90b407af10439",
        measurementId: "G-0WYRS9LFHC"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

<script>
    JSON.stringify(document.getElementById('img_url').value);
    JSON.stringify(document.getElementById('specStore').value);

    var img_arr = [];
    var i_arr = document.getElementById('imgArrayX').innerText.split(',');
    for(var i=0; i< i_arr.length; i++){
        img_arr.push(i_arr[i]);
    }
    console.log(img_arr);
    // var i = 0;
    var fileButton = document.getElementById('addProductImages');
    var uploader = document.getElementById('uploader');
    var getId = document.getElementById('prog_shot');


fileButton.addEventListener("change", function(e) {
    // var i = 0;
    console.log("i was detected");
    // var getId = document.getElementById(`prog_shot${i}`);
    getId.innerText = 'Uploading...';
    getId.style.color = '#e76f51';
    uploader.style.display = 'block';
    //get file 
    var file = e.target.files[0];

    // create a storage ref
    var storageRef = firebase.storage().ref('images/' + file.name);

    //upload files
    var task = storageRef.put(file);

    // console.log(file);
    // console.log(task);
    //update progress bar
    task
        .then(snapshot => snapshot.ref.getDownloadURL())
        .then((url) => {
            console.log(url);
            img_arr.push(url);
            $('#img_card').append(`<div class="card" style="position: relative;"><span class="close">&times;</span><img class="card-img-top" src="${url}" alt="Card image cap"></div>`);
            console.log(img_arr);
            document.getElementById('img_url').value = JSON.stringify(img_arr);
            console.log(document.getElementById('img_url').value);


            // document.querySelector('#someImageTagID').src = url;
        })
        .catch(console.error);
    task.on('state_changed',
        function progress(snapshot) {
            var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            uploader.value = percentage;
            if (percentage == 100) {
                // var getId = document.getElementById(`prog_shot${i}`);
                getId.innerText = "Done";
                getId.style.color = 'green';
            }

        },
        function error(err) {
            console.log(err);
        },
        function complete() {
            console.log('completed successfully');
        })
        // i++;
});

    function imgDel(i){
        $(`#imgNo${i}`).remove();
        img_arr.splice(`${i}`,1);
        console.log(img_arr);


    }



    const submitHandler = () => {
        console.log('i was clicked');

        const xhr = new XMLHttpRequest();
        const url = '/admin/editProduct/';
        xhr.open("POST", url);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({
            uid: document.getElementById('prod-uid').innerText,
            title: document.getElementById('prod_name').value,
            desc: document.getElementById('desc').innerHTML,
            keywords: document.getElementById('prod_tags').value,
            specs: document.getElementById('specStore').value,
            img_url: img_arr

        }));
        // xhr.onreadystatechange = function () {
        // 	if (xhr.readyState == XMLHttpRequest.DONE) {
        // 		if (xhr.status === 200) {
        // 			const userListItem = document.getElementById('faq_' + faqId);
        //             userListItem.classList += " d-none";
        //             console.log(faqId + "->delted");
        // 		}
        // 	}
        // }
        // window.location.reload();
    }
    var counter = parseInt(document.getElementById('specs_len').innerText);
    var c = counter;
    function specsHandler() {
        // console.log(Object.entries(prodDetails.specs).length);
        $('#specs-form').append(`<div class="input-group ${c}"><div class="input-group-prepend"><span class="input-group-text">Specs</span></div> <input type="text" name="title${c}" aria-label="First name" class="form-control border border-primary" placeholder="Title${c}" id="specsTitle${c}"><input type="text" name="value${c}" aria-label="Last name" class="form-control border border-primary" placeholder="Description${c}" id="specsDesc${c}" style="border-radius: 0;"></div>`)
        c = c + 1;
        counter++;
    }
    function deleteSpecs(i){
        console.log(i);
        $(`#${i}`).parent().remove();
        counter--;
    }

    function submitx() {

        var i = 0;
        var specs_obj = {};
        while (i < 15) {
            if(document.getElementById(`specsTitle${i}`)){
                var specsTitle = document.getElementById(`specsTitle${i}`);
                var specsDesc = document.getElementById(`specsDesc${i}`);
                specs_obj[specsTitle.value] = specsDesc.value;
            }

            i++;
        }
        console.log(specs_obj);
        document.getElementById('specStore').value = JSON.stringify(specs_obj);
        // alert('Saved Successfully');

    }
</script>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/end.ejs') %>