<%- include('../partials/admin/start.ejs') %>
<%- include('../partials/headBody.ejs') %> 
</head>
<body class="d-flex flex-column min-vh-100">
<%- include('../partials/admin/header.ejs') %>

    <div class="panel-header">
        <h2>Admin Panel</h2>
    </div>

    <div class="panel-header edit">
        <h3>Edit Product</h3>
    </div>
    
    <div class="details-container">
        <div class="columns">
            <!-- <div class="row"> -->
                <h6>Product Name</h6>
                <input type="text" class="form-control" name="product-name">
                <span class="warning">* Please don't add any description in the product name</span>
            <!-- </div> -->

            <!-- <div class="row"> -->
                <div class="row-control">
                    <h6>Specifications</h6>
                    <button type="submit" class="btnAddSpecs">Add Specs</button>
                </div>
                <div class="specs-table" style="overflow-x:auto;">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Size</th>
                            <th scope="col">Actual Price</th>
                            <th scope="col">Offer Price</th>
                            <th scope="col">Warranty</th>
                            <th scope="col">Batch No.</th>
                            <th scope="col">etc</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>250g</td>
                            <td>₹ 1800.00</td>
                            <td>₹ 1650.00</td>
                            <td>3 Months</td>
                            <td>ABC123456</td>
                            <td>more text</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
                <h6>Description</h6>
                <textarea class="form-control" rows="4"></textarea>
            <!-- </div> -->
            <button type="submit" class="btnSaveProduct">Save Product</button>
        </div>
        <div class="columns">
            <!-- <div class="row"> -->
                <h6>Product Image</h6>
                <form>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                      <span class="warning">* Please don't add any description in the product name</span>
                    </div>
                  </form>
            <!-- </div> -->
            
            <!-- <div class="row"> -->
            <div class="product-image-display">
                <div class="card-deck">
                    <div class="card" style="width: 10rem; position: relative;">
                        <span class="close">&times;</span>
                        <img class="card-img-top" src="/images/slide1.jpg" alt="Card image cap">
                    </div>
                    <div class="card" style="width: 10rem; position: relative;">
                        <span class="close">&times;</span>
                        <img class="card-img-top" src="/images/slide1.jpg" alt="Card image cap">
                    </div>
                    <div class="card" style="width: 10rem; position: relative;">
                        <span class="close">&times;</span>
                        <img class="card-img-top" src="/images/slide1.jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="card-deck">
                    <div class="card" style="width: 10rem; position: relative;">
                        <span class="close">&times;</span>
                        <img class="card-img-top" src="/images/slide1.jpg" alt="Card image cap">
                    </div>
                    <div class="card" style="width: 10rem; position: relative;">
                        <span class="close">&times;</span>
                        <img class="card-img-top" src="/images/slide1.jpg" alt="Card image cap">
                    </div>
                    <div class="card" style="width: 10rem; position: relative;">
                        <span class="close">&times;</span>
                        <img class="card-img-top" src="/images/slide1.jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
            <!-- </div> -->

            <div class="tags-section">
                <h6>Tags</h6>
                <input type="text" class="form-control" name="product-name" placeholder="Enter a tag">  
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/end.ejs') %>
