<%- include('../partials/admin/start.ejs') %>
<%- include('../partials/headBody.ejs') %> 
<%- include('../partials/admin/header.ejs') %>

    <div class="row">
        <h2>Admin Panel</h2>
    </div>

    <div class="details-container">
        <div class="columns">
            <h2>Left Side</h2>
        </div>
        <div class="columns">
            <h2>Right Side</h2>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/end.ejs') %>