<%- include('../partials/admin/start.ejs') %> 
<%-include('../partials/headBody.ejs') %> 
<%-include('../partials/admin/header.ejs') %>

<div class="container-fluid">
    <h1 class="page-heading">Queries</h1>
    <!-- search bar here-->


    

    <!-- sortBy here-->



	<div class="clearfix my-3"></div>
	<% if (queryR.length > 0) { %>
	<div class="horizontal-scroll-wrapper">
		<div class="horizontal-scroll-container">
			<div class="list-group">
				<div href="#" class="list-group-item list-group-item-action bg-dark text-light">
					<div class="row">
						<div class="col-1">Posted On</div>
						<div class="col-2">User Info</div>
						<div class="col-2">Type</div>
						<div class="col-2">Title</div>
						<div class="col-2">Description</div>
                        <div class="col-2">Solved/pending</div>
                        <div class="col-1">Delete</div>
					</div>
				</div>
				<% for (let query of queryR) { %>
				<div href="#!" class="list-group-item list-group-item-action"
					id="query_<%= query.id %>">
					<div class="row">
						<div class="col-1"><%= query.postedOn %></div>
						<div class="col-2"><%= query.UserName %>,<br><%= query.UserEmail %></div>
						<div class="col-2"><%= query.type %></div>
						<div class="col-2"><%= query.title %></div>
						<div class="col-2"><%= query.description %></div>
						<div class="col-2">
							<label class="switch">
								<%if(query.status){var x = "checked"} else{ var x = "!checked"}%>
								<input type="checkbox" id="status_toggle_<%= query.id %>" <%= x %>
									onchange="updateStatus('<%= query.id %>')" />
								<span class="slider"></span>
							</label>
						</div>
						<div class="col-1 text-right">
							<button class="btn btn-sm btn-danger" onclick="deleteQuery('<%= query.id %>')">
								<span class="fa fa-trash"></span>
							</button>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
    </div>
    <% } %>
</div>
<script>

		const deleteQuery = (queryId) => {
		const xhr = new XMLHttpRequest();
		const url = '/admin/query/';
		xhr.open("DELETE", url);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({
			uid: queryId
		}));
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				if (xhr.status === 200) {
					const userListItem = document.getElementById('query_' + queryId);
                    userListItem.classList += " d-none";
                    console.log(queryId + "->delted");
				}
			}
		}
	}

	const updateStatus = (queryId) => {
		const toggle = document.getElementById('status_toggle_' + queryId);
		// let subscriptionValidity = 0;
		if (toggle.checked === true) {
			 const verify = window.confirm('Are you sure you have solved this query?');
			 if(!verify){
				 toggle.checked = false;
				//  console.log(toggle.checked);
			 }
		} else {
			const confirmed = window.confirm('Are you sure this issue is unsolved?');
			if (!confirmed) {
				toggle.checked = !toggle.checked;
				// console.log(toggle.checked);
			}
		}
		console.log(toggle.checked);

		const xhr = new XMLHttpRequest();
		const url = '/admin/query/update-status';
		xhr.open("POST", url);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({
			uid: queryId,
			status: toggle.checked,
		}));
		// xhr.onreadystatechange = function () {
		// 	if (xhr.readyState == XMLHttpRequest.DONE) {
		// 		if (xhr.status !== 200) {
		// 			toggle.checked = !toggle.checked;
		// 		}
		// 	}
		// }
	}
</script>    
<%- include('../partials/end.ejs') %>