<%- include('../partials/admin/start.ejs') %> <%-
include('../partials/headBody.ejs') %> <%-
include('../partials/admin/header.ejs') %>

<div class="container-fluid">
	<h1 class="page-heading">Users</h1>
	<form action="/admin/users">
		<div class="input-group" id="search_group">
			<input class="form-control" id="search_input" name="search" type="search" placeholder="Search by Name"
				aria-label="Search" />
			<% for (let query in queryParams) { %>
			<% if(!(query === 'search' || query === 'after' || query === 'before')) { %>
			<input name="<%= query %>" value="<%= queryParams[query] %>" hidden />
			<% } %>
			<% } %>
			<div class="input-group-append">
				<button class="btn py-0 px-2 my-sm-0" id="search_btn" type="submit">
					<span class="fa fa-search"></span>
				</button>
			</div>
		</div>
	</form>
	<div class="dropdown mx-3" id="sort_dropdown">
		<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
			Sort By
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item"
				href="?<%= queryParams.search && 'search=' + queryParams.search + '&' %>sortBy=createdOn&order=desc">Newest</a>
			<a class="dropdown-item"
				href="?<%= queryParams.search && 'search=' + queryParams.search + '&' %>sortBy=createdOn&order=asc">Oldest</a>
		</div>
	</div>
	<div class="clearfix my-3"></div>
	<% if (users.length > 0) { %>
	<div class="horizontal-scroll-wrapper">
		<div class="horizontal-scroll-container">
			<div class="list-group">
				<div href="#" class="list-group-item list-group-item-action bg-dark text-light">
					<div class="row">
						<div class="col-2">Account Opening Date</div>
						<div class="col-2">Name</div>
						<div class="col-2">Company's Name</div>
						<div class="col-1">Mobile Number</div>
						<div class="col-2">Email</div>
						<div class="col-1">GST Number</div>
						<div class="col-1">Subscription</div>
					</div>
				</div>
				<% for (let user of users) { %>
				<div href="#!" class="list-group-item list-group-item-action <%= user.blocked && 'text-warning' %>"
					id="user_<%= user.id %>">
					<div class="row">
						<div class="col-2"><%= user.createdOn %></div>
						<div class="col-2"><%= user.name %></div>
						<div class="col-2"><%= user.company && user.company.name %></div>
						<div class="col-1"><%= user.mobile %></div>
						<div class="col-2"><%= user.email %></div>
						<div class="col-1">
							<span class="badge badge-<%= user.gstNo ? 'success' : 'danger' %>">
								<%= user.gstNo || 'Not Verified' %>
							</span>
						</div>
						<div class="col-1">
							<label class="switch">
								<input type="checkbox" id="subscription_toggle_<%= user.id %>"
									onchange="updateSubscription('<%= user.id %>')" />
								<span class="slider"></span>
							</label>
						</div>
						<div class="col-1 text-right">
							<button class="btn btn-sm btn-warning" onclick="blockUser('<%= user.id %>')">
								<span class="fa fa-ban"></span>
							</button>
							<button class="btn btn-sm btn-danger" onclick="deleteUser('<%= user.id %>')">
								<span class="fa fa-trash"></span>
							</button>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<nav class="my-4">
		<ul class="pagination justify-content-center">
			<li class="page-item <%= !links.prev && 'disabled' %>">
				<a class="page-link" href="<%= queryString + 'before=' + links.prev %>">
					<span class="fa fa-arrow-left"></span>
				</a>
			</li>
			<li class="page-item <%= !links.next && 'disabled' %>">
				<a class="page-link" href="<%= queryString + 'after=' + links.next %>">
					<span class="fa fa-arrow-right"></span>
				</a>
			</li>
		</ul>
	</nav>
	<% } else { %>
	<div class="text-center">
		<h1>No users found!</h1>
		<span class="fa fa-frown-o fa-5x"></span>
	</div>
	<% } %>
</div>

<script>
	const updateSubscription = (userId) => {
		const toggle = document.getElementById('subscription_toggle_' + userId);
		let subscriptionValidity = 0;
		if (toggle.checked === true) {
			subscriptionValidity = window.prompt('Enter the number of days for which you want to offer this subscription');
		} else {
			const confirmed = window.confirm('Are you sure you want to unsubscribe the user?');
			if (!confirmed) {
				toggle.checked = !toggle.checked;
			}
		}
		const xhr = new XMLHttpRequest();
		const url = '/admin/user/' + userId + '/update-subscription';
		xhr.open("POST", url);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({
			uid: userId,
			subscription: toggle.checked,
			subscriptionValidity
		}));
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				if (xhr.status !== 200) {
					toggle.checked = !toggle.checked;
				}
			}
		}
	}

	const deleteUser = (userId) => {
		const xhr = new XMLHttpRequest();
		const url = '/admin/user/' + userId;
		xhr.open("DELETE", url);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({
			uid: userId
		}));
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				if (xhr.status === 200) {
					const userListItem = document.getElementById('user_' + userId);
					userListItem.classList += " d-none";
				}
			}
		}
	}

	const blockUser = (userId) => {
		const userListItem = document.getElementById('user_' + userId);
		const xhr = new XMLHttpRequest();
		const url = '/admin/user/' + userId + '/block';
		xhr.open("POST", url);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.send(JSON.stringify({
			uid: userId,
			block: !userListItem.classList.contains('text-warning')
		}));
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				if (xhr.status === 200) {
					if (userListItem.classList.contains('text-warning')) {
						userListItem.classList.remove('text-warning');
					} else {
						userListItem.classList.add('text-warning');
					}
				}
			}
		}
	}
</script>

<%- include('../partials/end.ejs') %>