<%- include("../partials/start") %>
<%- include('../partials/start.ejs') %> 
<%- include("../partials/header") %>
<body>
  <center>
    <h1>HURRAY PAYMENT SUCCESSFUL !!! 🎉🎉🤩🤩</h1>
    <a href="http://localhost:3000/"><button >Continue Shopping</button></a>
  </center>
</body>

<%- include('../partials/footer.ejs') %> 
<%- include('../partials/end.ejs') %>
