<%- include("../partials/start") %>
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>
<div class="wrapper">
    <%- include("../partials/sidenav") %>
    <div class="loader">
    </div>
    <div class="main_content">
        <div class="profile-container">
            <% if (authorized) { %>
            <div class="edit-profile">
                <!-- {{!-- <h2>User Profile</h2> --}} -->
                <button type="button" class="btnEditProfile" data-toggle="modal"
                    data-target="#ModalEditForm1">Edit</button><br>
                <% if (user.gstNo) {%>
                <button type="button" class="btnEditProfile" data-toggle="modal" data-target="#ModalEditForm2"
                    style="background-color: #21c256;" disabled> GST Verified ✔</button>
                <%}else{%>
                <button type="button" class="btnEditProfile" data-toggle="modal" data-target="#ModalEditForm2">Verify
                    Account
                </button>
                <% } %>
            </div>
            <% }%>
            <div class="row">
                <div class="column col-left">
                    <img class="profile-img" src="/images/user.png" alt="" id="profile-src">
                    <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                    <p><label for="file" style="cursor: pointer;">Upload Image</label></p>

                    
                    <!-- <input class="btn-primary file-upload" type="file" id="profile_pic" accept="image/*" /> -->
                    <!-- <div class="p-image">
                        <i class="fa fa-camera upload-button"> Change Avatar</i>
                        <input class="file-upload" type="file" id="profile_pic" accept="image/*" />
                    </div> -->
                </div>
                <div class="column col-right">
                    <h1><%= user.name %></h1>
                    <p>
                        <% if (user.packPurchased  && Date.now() < user.expiresOn._seconds*1000) {%>
                        <i class="fas fa-usd" aria-hidden="true"></i> Active Plan: <%= user.packPurchased %> <br>
                        <i class="fas fa-calendar" aria-hidden="true"></i> Plan Expires On:
                        <%= new Date(user.expiresOn._seconds*1000).toDateString() %> <br>
                        <%}else{%>
                        <i class="fas fa-usd" aria-hidden="true"></i> No Active Plan <a href="/plan-details">Check Plan
                            Pricings</a> <br>
                        <% } %>
                        <% if (user.company.name) {%>
                        <i class="fas fa-building"></i><%= user.company.name %> <br>
                        <%} %>
                        <% if (user.email) {%>
                        <i class="fas fa-envelope"></i><%= user.email %> <br>
                        <%} %>
                        <!-- <i class="fas fa-check-circle"></i> --> <br>
                        <% if (user.gstNo) { %>
                        <i class="fas fa-money-check-alt"></i>GSTIN <%= user.gstNo %> <br>
                        <% } %>
                        <% if (user.referralCode) {%>
                        <i class="fas fa-user-plus"></i>Referral Code : <%= user.referralCode %> (refer to your friends
                        and get exciting benefits)<br>
                        <%} %>
                        <i class="fas fa-phone-square-alt"></i><%= user.mobile %><br>
                        <i class="far fa-calendar-alt"></i>Joined on
                        <%= user.createdOn.toDate().toJSON().slice(0,10).replace(/-/g,'/') %>
                        <hr style="width: 20vw; margin: 0">
                    </p>
                    <% if ( user.company.desc) {%>
                    <div class="company-desc">
                        <strong>Company Description</strong>
                        <p> <%= user.company.desc %>
                        </p>
                    </div>
                    <%} %>
                </div>
            </div>
        </div>

        <div class="products-section">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'my-products')"
                    id="defaultOpen"><%= authorized ? 'My Products' : 'User\'s Products' %></button>
                <button class="tablinks" onclick="openTab(event, 'my-wishlist')">Wishlist</button>
                <button class="tablinks"
                    onclick="openTab(event, 'my-requirements')"><%= authorized ? 'My Requirements' : 'User\'s Requirements' %></button>
            </div>

            <div id="my-products" class="tabcontent">
                <% if(products.length > 0) { %>
                <div class="row equal">
                    <% for (let product in products) { %>
                        <div class="card">
                            <a href="/product/<%= products[product].id %>"><img src="/images/product1.jpg" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <a href="/product/<%= products[product].id %>"><strong><%= products[product].title %></strong></a>
                                <p class="card-text"><%= products[product].desc %></p>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
                <% } else { %>
                <div class="text-center">
                    <h3>No products for sale</h3>
                </div>
                <% } %>
            </div>

            <div id="my-wishlist" class="tabcontent">
                <% if(user.wishlist.length > 0) { %>
                <div class="row">
                    <% for (let product in wishlist) { %>
                    <div class="card">
                        <a href="/product/<%= wishlist[product].productId %>"><img src="/images/product1.jpg"
                                class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <strong><%= wishlist[product].title %></strong>
                            <p class="card-text"><%= wishlist[product].desc %></p>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } else { %>
                <div class="text-center">
                    <h3>No products in wishlist</h3>
                </div>
                <% } %>
            </div>

            <div id="my-requirements" class="tabcontent">
                <div class="row">
                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <p class="card-text" style="margin-bottom: 0;">Name: Lorem ipsum</p>
                            <p class="card-text" style="margin-bottom: 0;">Price: ₹1400</p>
                            <p class="card-text" style="margin-bottom: 0;">Quantity: 5</p>
                            <small class="card-text">Posted on: Aug 15, 2020</small>
                            <button type="button" class="btn btn-primary btn-sm">View More</button>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <p class="card-text" style="margin-bottom: 0;">Name: Lorem ipsum</p>
                            <p class="card-text" style="margin-bottom: 0;">Price: ₹1400</p>
                            <p class="card-text" style="margin-bottom: 0;">Quantity: 5</p>
                            <small class="card-text">Posted on: Aug 15, 2020</small>
                            <button type="button" class="btn btn-primary btn-sm">View More</button>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <p class="card-text" style="margin-bottom: 0;">Name: Lorem ipsum</p>
                            <p class="card-text" style="margin-bottom: 0;">Price: ₹1400</p>
                            <p class="card-text" style="margin-bottom: 0;">Quantity: 5</p>
                            <small class="card-text">Posted on: Aug 15, 2020</small>
                            <button type="button" class="btn btn-primary btn-sm">View More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
<%- include("../partials/end") %>

<div id="ModalEditForm1" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Profile</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="user-name" value='<%= user.name %>'
                                id='update-name'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name"
                                value='<%= user.company.name %>' id='update-company-name'>
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="">
                    <!-- <div class="form-group">
                        <label class="control-label">GST Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="gst-number" value="">
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <label class="control-label">Contact Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="contact-number" value="">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="control-label">Company Description <span style="color: crimson;">(max: 60
                                words)</span> </label>
                        <div>
                            <!-- {{!-- <input type="textarea" class="form-control input-lg" name="description"> --}} -->
                            <!-- <% if ( user.company.desc) {%>
                                <textarea class="form-control" name="" rows="4" id="update-company-desc" value='<%= user.company.desc %>'></textarea>
                            <%} else{%><textarea class="form-control" name=""  rows="4" id="update-company-desc" value=''></textarea><%} %> -->
                            <textarea class="form-control" name="" rows="4" id="update-company-desc"
                                value=''><%= user.company.desc %></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-success" onclick="editProfile()">Save</button>
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="ModalEditForm2" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Verify Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- {{!-- <button style="padding: 27px 13px 0 0;" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button> --}} -->
            </div>
            <div class="modal-body">
                <form role="form">
                    <!-- <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name">
                        </div>
                    </div>
                    <input type="hidden" name="_token" value=""> -->
                    <div class="form-group">
                        <label class="control-label">GST Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="gst-number" value="" id="gst-number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last 4 Digits OF PAN Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="pan-number" value="" id="pan-number">
                        </div>
                    </div>
                    <div class="file-upload-wrapper">
                        <input type="file" accept="image/*" id="photo" name="photo" class="file-upload" />
                    </div><br>

                    <!-- <div class="form-group">
                        <label class="control-label">Aadhar Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="contact-number" value="">
                        </div>
                    </div>
                    <div class="file-upload-wrapper">
                        <input type="file" id="input-file-now" class="file-upload" />
                    </div><br> -->
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-success submit-gstNo"
                                onclick="userVerification()">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-storage.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCQ2Zd5JZhjkQnpUrnq5FNWQnlN48awFdU",
        authDomain: "factory-dukaan.firebaseapp.com",
        databaseURL: "https://factory-dukaan.firebaseio.com",
        projectId: "factory-dukaan",
        storageBucket: "factory-dukaan.appspot.com",
        messagingSenderId: "901783648307",
        appId: "1:901783648307:web:41d71e94413adcbdb74b46",
        measurementId: "G-LH7XKNLQE5"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>


<script>

var loadFile = function(event) {
        var image = document.getElementById('profile-src');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

    // var audio_uploader = document.getElementById('audio_uploader');
    
    var picButton = document.getElementById('profile_pic');
    picButton.addEventListener('change', function (e) {
        console.log("pic button was clicked");
        // var getId = document.getElementById('audio_prog_shot');
        // getId.innerText = 'Uploading...';
        // getId.style.color = '#e76f51';
        // audio_uploader.style.display = 'block';
        //get file 
        var file = e.target.files[0];

        // create a storage ref
        var storageRef = firebase.storage().ref('profile-pic/' + file.name);

        //upload files
        var task = storageRef.put(file);

        // console.log(file);
        // console.log(task);
        //update progress bar
        task
            .then(snapshot => snapshot.ref.getDownloadURL())
            .then((url) => {
                console.log(url);
                // document.getElementById('audio_url').value = url;

                const xhr = new XMLHttpRequest();
                const urlx = '/profile-pic/';
                xhr.open("POST", urlx);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify({
                    profile_pic: url
                }));
                // xhr.onreadystatechange = function () {
                //     if (xhr.readyState == XMLHttpRequest.DONE) {
                //         if (xhr.status === 200) {
                //             console.log("submitted");
                //             window.alert('Successfully Uploaded');
                //         }
                //     }
                // }
                // document.querySelector('#someImageTagID').src = url;
            })
            .catch(console.error);
        task.on('state_changed',
            function progress(snapshot) {
                var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                // audio_uploader.value = percentage;
                if (percentage == 100) {
                    // var getId = document.getElementById('audio_prog_shot');
                    // getId.innerText = "Done";
                    // getId.style.color = 'green';
                    $('.profile-img').attr('src', e.target.result);
                }

            },
            function error(err) {
                console.log(err);
            },
            function complete() {
                console.log('completed successfully');
            })
    });

    const editProfile = async () => {
        
            try{
                const loader = document.querySelector('.loader');
                loader.className = 'loader'; // class "loader"
                const res=await axios({
                method: "POST",
                url: "/user/profile/update",
                data: {
                    name: document.getElementById('update-name').value,
                    company: {
                        name: document.getElementById('update-company-name').value,
                        desc: document.getElementById('update-company-desc').value
                    }
                }
                
            })
            loader.className = 'loader hidden'; // class "loader hidden"
            if(res.data.status==='updated'){
                location.reload();
            }
        } catch (error) {
            console.log(error);
        }

    }

    const userVerificationForm = document.querySelector(".modal-body");

    const userVerification = async () => {

        const gstNo = document.getElementById('gst-number').value;
        const panNo = document.getElementById('pan-number').value;
        const PANPhoto = await document.getElementById('photo').files[0];


        try {
            const loader = document.querySelector('.loader');
            loader.className = 'loader'; // class "loader"
            const res = await axios({
                method: "POST",
                url: "/user/verify-gst",
                data: {
                    gstNo,
                    panNo,
                },
            });
            loader.className = 'loader hidden'; // class "loader hidden"
            if (res.data.status === 'verified') {
                window.setTimeout(() => {
                    location.assign('/user/profile');
                }, 1500);
            } else {
                console.log(res);
            }
        } catch (err) {
            console.log('ERROR')
            console.log(err);
        }

        if (PANPhoto) {
            const filename = PANPhoto.name;
            const storageRef = firebase.storage().ref('/PAN-Card-images/' + filename);
            const uploadTask = storageRef.put(PANPhoto);

            uploadTask.on('state_changed', async (snapshot) => {
                console.log('UPLOADING...')
            })
            console.log('IMAGE UPLOADED');
        }
    }

    // $(document).ready(function () {
    //     var readURL = function (input) {
    //         if (input.files && input.files[0]) {
    //             var reader = new FileReader();
    //             reader.onload = function (e) {
    //                 $('.profile-img').attr('src', e.target.result);
    //             }
    //             reader.readAsDataURL(input.files[0]);
    //         }
    //     }

    //     $(".file-upload").on('change', function () {      
    //         readURL(this);
    //     });

    //     $(".upload-button").on('click', function () {
    //         $(".file-upload").click();
    //     });
    // });

</script>