<%- include("../partials/start") %>
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>
<div class="wrapper">
    <%- include("../partials/sidenav") %>
    <div class="main_content">

        <div class="profile-container">
            <% if (authorized) { %>
            <div class="edit-profile">
                <!-- {{!-- <h2>User Profile</h2> --}} -->
                <button type="button" class="btnEditProfile" data-toggle="modal"
                    data-target="#ModalEditForm1">Edit</button><br>
                <% if (user.gstNo) {%>
                <button type="button" class="btnEditProfile" data-toggle="modal" data-target="#ModalEditForm2"
                    style="background-color: #21c256;" disabled> GST Verified ✔</button>
                <%}else{%>
                <button type="button" class="btnEditProfile" data-toggle="modal" data-target="#ModalEditForm2">Verify
                    Account
                </button>
                <% } %>
            </div>
            <% }%>
            <div class="row">
                <div class="column col-left">
                    <img class="profile-img" src="/images/user.png" alt="">
                </div>
                <div class="column col-right">
                    <h1><%= user.name %></h1>
                    <p> 
                        <% if (user.packPurchased  && Date.now() < user.expiresOn._seconds*1000) {%>
                            <i class="fas fa-usd" aria-hidden="true"></i> Active Plan:  <%= user.packPurchased %>  <br>
                            <i class="fas fa-calendar" aria-hidden="true"></i> Plan Expires On: <%= new Date(user.expiresOn._seconds*1000).toDateString() %> <br>
                            <%}else{%>
                                <i class="fas fa-usd" aria-hidden="true"></i> No Active Plan <a href="/plan-details">Check Plan Pricings</a> <br>
                            <% } %>
                        
                        <i class="fas fa-building"></i><%= user.company.name %> &nbsp; 
                        <!-- <i class="fas fa-check-circle"></i> --> <br> 
                        <i class="fas fa-envelope"></i><%= user.email %> <br>
                        <% if (user.gstNo) { %>
                        <i class="fas fa-money-check-alt"></i>GSTIN <%= user.gstNo %> <br>
                        <% } %>
                        <i class="fas fa-phone-square-alt"></i><%= user.mobile %><br>
                        <i class="far fa-calendar-alt"></i>Joined on
                        <%= user.createdOn.toDate().toJSON().slice(0,10).replace(/-/g,'/') %>
                        <hr style="width: 20vw; margin: 0">
                    </p>
                    <div class="company-desc">
                        <strong>Company Description</strong>
                        <p> <%= user.company.desc %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="products-section">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'my-products')"
                    id="defaultOpen"><%= authorized ? 'My Products' : 'User\'s Products' %></button>
                <button class="tablinks" onclick="openTab(event, 'my-wishlist')">Wishlist</button>
                <button class="tablinks"
                    onclick="openTab(event, 'my-requirements')"><%= authorized ? 'My Requirements' : 'User\'s Requirements' %></button>
            </div>

            <div id="my-products" class="tabcontent">
                <% if(products.length > 0) { %>
                <div class="row">
                    <% for (let product in products) { %>
                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } else { %>
                <div class="text-center">
                    <h3>No products for sale</h3>
                </div>
                <% } %>
            </div>

            <div id="my-wishlist" class="tabcontent">
                <% if(user.wishlist.length > 0) { %>
                <div class="row">
                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/product1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
                <% } else { %>
                <div class="text-center">
                    <h3>No products in wishlist</h3>
                </div>
                <% } %>
            </div>

            <div id="my-requirements" class="tabcontent">
                <h2>My requirements goes here...</h2>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
<%- include("../partials/end") %>

<div id="ModalEditForm1" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Profile</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="user-name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name">
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">GST Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="gst-number" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contact Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="contact-number" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Description <span style="color: crimson;">(max: 60
                                words)</span> </label>
                        <div>
                            <!-- {{!-- <input type="textarea" class="form-control input-lg" name="description"> --}} -->
                            <textarea class="form-control" name="" id="" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="ModalEditForm2" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Verify Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- {{!-- <button style="padding: 27px 13px 0 0;" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button> --}} -->
            </div>
            <div class="modal-body">
                <form role="form">
                    <!-- <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name">
                        </div>
                    </div>
                    <input type="hidden" name="_token" value=""> -->
                    <div class="form-group">
                        <label class="control-label">GST Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="gst-number" value="" id="gst-number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last 4 Digits OF PAN Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="pan-number" value="" id="pan-number">
                        </div>
                    </div>
                    <div class="file-upload-wrapper">
                        <input type="file" accept="image/*" id="photo" name="photo" class="file-upload" />
                    </div><br>

                    <!-- <div class="form-group">
                        <label class="control-label">Aadhar Number</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="contact-number" value="">
                        </div>
                    </div>
                    <div class="file-upload-wrapper">
                        <input type="file" id="input-file-now" class="file-upload" />
                    </div><br> -->
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-success submit-gstNo"
                                onclick="userVerification()">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<script>
    const firebaseConfig = {
        apiKey: "AIzaSyCQ2Zd5JZhjkQnpUrnq5FNWQnlN48awFdU",
        authDomain: "factory-dukaan.firebaseapp.com",
        databaseURL: "https://factory-dukaan.firebaseio.com",
        projectId: "factory-dukaan",
        storageBucket: "factory-dukaan.appspot.com",
        messagingSenderId: "901783648307",
        appId: "1:901783648307:web:41d71e94413adcbdb74b46",
        measurementId: "G-LH7XKNLQE5",
    };
    firebase.initializeApp(firebaseConfig);
    const userVerificationForm = document.querySelector(".modal-body");

    const userVerification = async () => {

        const gstNo = document.getElementById('gst-number').value;
        const panNo = document.getElementById('pan-number').value;
        const PANPhoto = await document.getElementById('photo').files[0];


        try {
            const res = await axios({
                method: "POST",
                url: "/user/verify-gst",
                data: {
                    gstNo,
                    panNo,
                },
            });
            if (res.data.status === 'verified') {
                window.setTimeout(() => {
                    location.assign('/user/profile');
                }, 1500);
            } else {
                console.log(res);
            }
        } catch (err) {
            console.log('ERROR')
            console.log(err);
        }

        if (PANPhoto) {
            const filename = PANPhoto.name;
            const storageRef = firebase.storage().ref('/PAN-Card-images/' + filename);
            const uploadTask = storageRef.put(PANPhoto);

            uploadTask.on('state_changed', async (snapshot) => {
                console.log('UPLOADING...')
            })
            console.log('IMAGE UPLOADED');
        }
    }

</script>