<%- include("../partials/start") %>
<link type="text/css" rel="stylesheet" href="/css/products.css" />
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>
<div class="wrapper">
    <%- include("../partials/sidenav") %>
    <div class="main_content">
        <div class="header">
            <h2>My Products</h2>
        </div>
        <div class="add-product">
            <button type="button" class="btn btn-primary">Add Product</button>
        </div>
        <% for (var i = 0; i < products.length; i++) { %>
            <div class="products-wrapper">
                <div class="card mb-3 w-75">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title"><%= products[i].title %></h5>
                                <p class="card-text"><%= products[i].desc %></p>
                                <p class="card-text"><small class="text-muted">Added on <%= new Date( products[i].createdOn._seconds*1000).toDateString() %></small></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditForm1">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-info">View Details</button>
                        </div>
                    </div>
                </div>
            <% } %>
        <div class="products-wrapper">
            <div class="card mb-3 w-75">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Product Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus ultricies tristique nulla aliquet enim tortor. Pharetra et ultrices neque ornare. </p>
                            <p class="card-text"><small class="text-muted">Added on 26/07/2020</small></p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-info">View Details</button>
                    </div>
                </div>
            </div>

            <div class="card mb-3 w-75">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Product Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus ultricies tristique nulla aliquet enim tortor. Pharetra et ultrices neque ornare. </p>
                            <p class="card-text"><small class="text-muted">Added on 26/07/2020</small></p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-info">View Details</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="ModalEditForm1" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Product</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Product Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="user-name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Product Description</label>
                        <div>
                            <textarea class="form-control" name="" id="" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Product Images</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept=".jpg,.png" multiple data-show-upload="true" data-show-caption="true">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
        var fileName = document.getElementById("customFile").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })
</script>

<%- include("../partials/footer") %>
<%- include("../partials/end") %>