<%- include("../partials/start") %>
<link type="text/css" rel="stylesheet" href="/css/products.css" />
<%- include("../partials/headBody") %>
<%- include("../partials/header") %>
<div class="wrapper">
    <%- include("../partials/sidenav") %>
    <div class="main_content">
        <div class="header">
            <h2>My Products</h2>
        </div>
        <div class="add-product">
            <button type="button" class="btn btn-primary">Add Product</button>
        </div>
        <% for (var i = 0; i < products.length; i++) { %>
            <div class="products-wrapper">
                <div class="card mb-3 w-75">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/images/product1.jpg" alt="Card image cap">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title"><%= products[i].title %></h5>
                                <h6><b>Price:</b> ₹<%= products[i].price %></h6>
                                <p class="card-text"><%= products[i].desc %></p>
                                <p class="card-text"><small class="text-muted">Added on <%= new Date( products[i].createdOn._seconds*1000).toDateString() %></small></p>
                            </div>
                        </div>
                        <input type="hidden" name="product-id" value='<%= productsId[i] %>' id='<%= productsId[i] %> productId'/>
                        <input type="hidden" name="product-id" value='<%= products[i].title %>' id='<%= productsId[i] %> title'/>
                        <input type="hidden" name="product-id" value='<%= products[i].price %>' id='<%= productsId[i] %> price'/>
                        <input type="hidden" name="product-id" value='<%= products[i].desc %>' id='<%= productsId[i] %> desc'/>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary editButton" data-toggle="modal" data-target="#ModalEditForm1" id='<%= productsId[i] %>'>Edit</button>
                            <button type="button" class="btn btn-danger deleteButton" id='<%= productsId[i] %>' >Delete</button>
                            <button type="button" class="btn btn-info">View Details</button>
                        </div>
                    </div>
                </div>
            <% } %>
        
<div id="ModalEditForm1" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
            </div>
            <p id="productID" style="color:gray"></p>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Product Name</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="user-name" value="" id="titleInput">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="company-name" id="priceInput">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Product Description</label>
                        <div>
                            <textarea class="form-control"  rows="4" id="descInput"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Product Images</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept=".jpg,.png" multiple data-show-upload="true" data-show-caption="true">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-success" onclick="editHandler()">Save</button>
                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                    <div class="form-group">
                        <div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body"> Are you sure you want to delete this product? This cannot be undone! </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="" id="delete" class="btn btn-primary">Yes</a> </div>
      </div>
    </div>
  </div>

<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e) {
        var fileName = document.getElementById("customFile").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })

    var productId
    var editButtons=document.getElementsByClassName("btn btn-primary editButton");
    var editButtonsCount=editButtons.length;
    for(var i=0; i<editButtonsCount;i+=1){
        editButtons[i].onclick=async function(e){
            productId=this.id;
            document.getElementById('titleInput').value=document.getElementById(this.id+" title").value;
            document.getElementById('priceInput').value=document.getElementById(this.id+" price").value;
            document.getElementById('descInput').innerText=document.getElementById(this.id+" desc").value;
            document.getElementById('productID').innerText="Product ID: "+" " + this.id;
        }
    }

    const editHandler=async()=>{
      
       try{const response=await axios({
            method:"POST",
            url:"/user/updateProduct",
            data:{
                productId: productId,
                productUpdatedInfo:{
                    price:document.getElementById('priceInput').value,
                    title:document.getElementById('titleInput').value,
                    desc:document.getElementById('descInput').value
                }
                
            }
        })

        console.log('wait...')
        if(response.data.status==='success'){
            location.reload();
        }else{
            console.log('You Are Not authorised to perform this action')
        }}catch(error){
            console.log(error);
        }
        
    }


    var deleteButtons = document.getElementsByClassName("btn btn-danger deleteButton");
    var deleteButtonsCount = deleteButtons.length;
    for (var i = 0; i < deleteButtonsCount; i += 1) {
        deleteButtons[i].onclick = async function(e) {    

        var deleteConfirmation=prompt(`Are you sure you want to delete this product ?     Type ${this.id} this below to confirm `);
        console.log(deleteConfirmation)
        if(deleteConfirmation===this.id){
            try{
            const res=await axios({
                method:"POST",
                url:"/user/deleteProduct",
                data:{
                    productId:this.id
                }
            })
            if(res.data.status==='success'){
                console.log('working')
                location.reload();
            }
            if(res.data.status==='unauthorised'){
                console.log("You are not authorised to perform this action");
            }
        }catch(err){
            console.log(err)
         }
        }if(!deleteConfirmation || deleteConfirmation!=this.id){
            console.log("Deletion Cancelled");
        }
        
    };
}
    
</script>

<%- include("../partials/footer") %>
<%- include("../partials/end") %>